*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
}


.navbar{
    background-color: #FFFFFF;
    width: 100%;
    max-width: 1600px;
    height: 92px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    /* align-items: center; */
    border: 2px solid #600505;
    padding: 16px 120px;
    
}

.access-btn button{
    max-width: 164px;
    height: 44px;
    background-color: #30B868;
    padding: 5px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: semi-bold;
    padding: 12px 16px;
    margin-top: 5px;
    
}

.nav-links{
    max-width: 365px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 32px;
    align-items: center;
    margin-top: 15px;
    /* border: 2px solid #000000; */
}

.nav-links li a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    font-weight: 500;
    cursor: pointer;
}

