*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
}


.navbar{
    background-color: #FFFFFF;
    width: 100%;
    max-width: 1600px;
    height: 92px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    /* align-items: center; */
    /* border: 2px solid #600505; */
    padding: 16px 120px;
    
}

.access-btn button{
    max-width: 164px;
    height: 44px;
    background-color: #30B868;
    padding: 5px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: semi-bold;
    padding: 12px 16px;
    margin-top: 5px;
    
}

.nav-links{
    max-width: 365px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 32px;
    align-items: center;
    margin-top: 15px;
    /* border: 2px solid #000000; */
}

.nav-links li a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    font-weight: 500;
    cursor: pointer;
}


.banner{
  width: 100%;
  max-width: 1600px;
  min-height: 674px;
  margin: 0 auto;

  background-image: url(../assets/hero-bg.png);
  background-size: cover;
  background-position: center;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 70px 120px 134px 120px;
}


.banner::before{
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(8, 25, 36, 0.65);
}

.banner-text{
  position: relative;   
  width: 100%;
  max-width: 900px;
  text-align: center;
  color: #fff;
}


.badge{
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 6px 14px;
  border-radius: 999px;
  background: #fff;
  color: #30B868;
  font-weight: 600;
}


.badge-dot{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #30B868; 

  
  box-shadow:
    0 0 0 4px rgba(48, 184, 104, 0.25),
    0 0 0 8px rgba(48, 184, 104, 0.12);  
}



.banner-text h1{
  padding-top: 16px;
  font-size: 60px;
  line-height: 1.1;
  margin-bottom: 14px;
}

.banner-text h1 span{
  color: #30B868;
}

.banner-text p{
  font-size: 18px;
  line-height: 1.6;
  max-width: 720px;
  margin: 0 auto 26px;
  opacity: 0.9;
}

.banner-buttons{
  display: flex;
  justify-content: center;
  gap: 14px;
  flex-wrap: wrap;
}

.btn-primary{
  background: #30B868;
  color: #fff;
  border: none;
  padding: 12px 18px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  align-items: center;

}

.btn-outline{
  background: transparent;
  color: #fff;
  border: 1px solid rgba(255,255,255,0.6);
  padding: 12px 18px;
  border-radius: 10px;
  cursor: pointer;
}

.note-section{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    /* border: 2px black solid; */
}

.note-head{
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding:  0 120px 0 120px;
    text-align: center;
    /* border: 2px black solid; */
}

.note-head p{
    padding-top: 16px;
    color: #627382;
}

.note-head h1{
    font-size: 48px;
    margin-top: 14px;
}

.note-card{
    padding-top: 44px;
    display: flex;
    justify-content: center;
    gap: 24px;
    
}

.card{
    width: 322px;
    height: 300px;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.215);
    background-color: #FFFFFF;

    padding-top: 60px;         
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;       
    justify-content: flex-start;
    gap: 16px;

}

.img-background{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #F95555;

    display: flex;
    align-items: center;
    justify-content: center;
}

.img-background img{
    width: 32px;
    height: 32px;
    display: block;
    
    
}

.card-text{
    text-align: center;
}

.card-text h2{
    padding-top: 16px;
    text-align: center;
}

.card-text p{
    padding-top: 16px;
    text-align: center;
    color: #627382;
}






